[Unit]
Description=Read from /dev/smd11 and write to ttyIN
BindsTo=socat-smd11.service
After=socat-smd11.service

[Service]
ExecStart=/bin/bash -c "/bin/cat /dev/smd11 > /dev/ttyIN"
# Add a delay to prevent the clients from starting too early
ExecStartPre=/bin/sleep 2
Restart=always
RestartSec=1s
StandardInput=tty-force
StandardOutput=tty-force

[Install]
WantedBy=multi-user.target
